  <% collection_content(@stories) do %>
    <%= form_tag move_stories_project_iterations_path(@project) %>
      <%= render :partial => 'stories/move_stories_form', :locals => {:default => "Not Assigned"} %>
      <%= render :partial => 'stories/stories' , :locals => {:hide_cols => [:project]}%>
    </form>
  <% end %>
