<% iterations = @project.iterations%>
<div class="move_to">
  <% empty_collection_content(iterations) do %>
    <span style="color: #FF0000;">No iterations to move story cards to.</span>
  <% end %>

  <% collection_content(iterations) do %>
    Move Selected Story Cards to:
    <%= select_tag "move_to", iteration_select_list_for(iterations, default) %>
    <%= submit_tag "Go" %>
  <% end %>
</div>